In [ ]:
a = 8 
b = 4
a + b

In [ ]:

import pandas as pd
import numpy as np 
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago'],
    'Salary': [70000, 80000, 90000]
}
df = pd.DataFrame(data)
df

# Drop or delete columns
# inplace=True modifies the original DataFrame instead of returning a new one.
#  it measns the operation will be performed directly on the existing DataFrame.

df.drop('Total_Salary', axis=1, inplace=True)  # Drop the 'Total_Salary' column
df