In [ ]:
a = 6 
b = 6 
a + b

In [ ]:
import pandas as pd
import numpy as np 
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago'],
    'Salary': [70000, 80000, 90000]
}
df = pd.DataFrame(data)
df

In [ ]:
# Aggregation
df.groupby('Category').agg({'Sales': 'sum', 'Quantity': 'mean'})
df.groupby('Store').agg({'Sales': 'max', 'Quantity': 'min'})    
df['Sales'].mean()
df['Sales'].agg({'sum': 'sum', 'mean': 'mean', 'max': 'max', 'min': 'min'})